section{
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #4242f2;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
section h2{
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}
form button:hover{
    background: #f5f5f5;
    color: #0e1cdc;
    border-radius: 16px;
}


/*responsivo css*/

@media only screen and (min-width: 768px) and (max-width:991px) {
    .section-header h2 {
        font-size: 45px;
        font-weight: bold;
    }

    .navbar-toggler-icon i.fa {
        color: #fff;
    }

    .slider-text {
        padding-top: 70%;
    }

    .about-img {
        padding-right: 0;
        margin-bottom: 30px;
    }

    .item-text {
        padding-left: 0;
    }

    .single-stats h2 {
        font-size: 30px;
    }

    .single-stats p {
        font-size: 30px;
    }

    .single-testi {
        margin-bottom: 15px;
    }

    .section-header {
        margin-top: -350px;
    }

    .about-img {
        margin-top: -150px;
    }

    .single-stats p {
        font-size: 20px;
    }

    .single-award {
        margin-left: -150px;
    }

    .single-award h2 {
        text-align: center;
        margin-left: 150px;
        font-size: 35px;
        margin-top: 15px;
    }

    .single-award a {
        margin-left: 150px;
        font-size: 35px;
    }

   

    .maps {
        width: 180px;
        padding-top: 65px;
    }

}

@media only screen and (max-width:767px) {
       
    .section-header h2 {
        font-size: 22px;
        font-weight: bold;
    }

    .navbar-toggler-icon i.fa {
        color: #fff;
    }

    .slider-text h1 {
        font-size: 22px;
    }

    .slider-text {
        padding-top: 65%;
    }

    .slider-text h2 {
        font-size: 20px;
    }

    .slider-text a {
        padding: 5px 10px;
        font-size: 14px;
    }

    .item-text {
        margin-top: 30px;
    }

    .item-text h4 {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .about-img {
        padding-right: 0;
    }

    .item-text {
        padding-left: 0;
    }

    .single-stats h2 {
        font-size: 30px;
    }

    .single-award h2 {
        font-size: 18px;
        line-height: 35px;
    }

    .single-award a {
        padding: 5px 15px;
        font-size: 14px;
    }

    .single-testi {
        padding: 15px 10px;
        margin-bottom: 15px;
    }

    .footer-social a{
        font-size: 50px;
        padding-left: 0px;
        margin-left: 90px;
    }

    .single-footer h4 {
        text-align: center;
        font-size: 30px;
    }

    .single-footer p {
        text-align: center;
        font-size: 25px;
    }

    .single-footer li {
        text-align: center;
        font-size: 20px;
    }
    .maps {
        margin-top: 55px;
        width: 830px;
        margin: 5px 5px;
        align-items: center;
    }
}